$light-goldenrod-yellow: #eaf0ceff;
$silver-sand: #c0c5c1ff;
$charcoal: #4a525aff;
$raisin-black: #24272bff;
$rich-black-fogra-39: #07070aff;

@import "./image-drop.scss";
@import "./options.scss";
@import "./custom-check.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $raisin-black;
  color: $light-goldenrod-yellow;
  user-select: none;
}

* {
  box-sizing: border-box;
}

.main {
  margin-top: 26px;
  display: flex;
  // flex: 1 1 auto;
  // height: calc(100vh - 40px);
  height: calc(100vh - 40px);
  width: 100vw;
  overflow: hidden;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.results-container {
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  width: 50%;
  animation: slide-in 0.5s;
}

.titlebar {
  position: absolute;
  top: 0;
  height: 30px;
  width: 100%;
  z-index: -1;
  -webkit-app-region: drag;
}
